Flask
Flask-Cors
h5py
importlib-metadata
Keras-Preprocessing
matplotlib
numpy
opencv-python
pandas
pickleshare
Pillow
requests
requests-oauthlib
scikit-learn
scipy
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
gunicorn
